.button {
    border-radius: 1em;
    width: 100px;
    height: 40px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
    }
    .box {
    border-radius: 1em;
    width: 50rem;
    height: 30rem;
    
    }
    body {
    margin: 0px;
    }
    