<div class="container">
    <div class="box ">
        <div class="row justify-content-center">
            <h1>Seja bem vindo, {{name}}</h1>
        </div>
        <br>
       <br>
       <div class="row justify-content-center">
           <h2>Seus Cds a um clique</h2>
       </div>
       <div class="row justify-content-center">
           <h4>Visualize, adicione e altere os cds de um forma rápida e inteligente.</h4>
       </div>
       <div class="row justify-content-center">
           <h3>Gerenciamento de usuários prático e fácil</h3>
           
       </div>
       <div class="row justify-content-center">
           <h5>Gerencie de forma rápida e clara todos os usuários.</h5>
       </div>
  </div>

</div>